html, body {
    margin: 0;
    padding: 0;
    color: black;
}
canvas {
    display: block;
}
h1 {
    color: black;
}
h3 {
    color: black;
}
mark {
    background-color: silver;
    color: black;
}
.dropbtn {
    background-color: gold;
    color: darkblue;
    padding: 16px;
    font-size: 16px;
    font-family:Helvetica;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #cccc49;}

.homebg {
    background:url(https://i2.wp.com/teamjimmyjoe.com/wp-content/uploads/2016/11/trump-clinton-godzilla-funny-gifs.gif?fit=464%2C261&ssl=1);>
}
.bg {
    background:url(https://cdn.hipwallpaper.com/i/40/0/07VCjg.jpg);>
}